.lines {
    float: left;
    font-family: monospace;
    width: 50%;
}

.line {
    white-space: pre-wrap;
}

.head .highlight {
    background: lightgreen;
}

.base .highlight {
    background: pink;
}

.lines .blank {
    background: #ddd;
}

.patch {
    display: none;
}
